<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h2>Bio :</h2>
    <div>
      <p>------------------------------</p>
      <b>Nama : <%= user.name %></b>
      <p>Email : <%= user.email %></p>
    </div>

    <p>------------------------------</p>
    <button><a href="/">Home</a></button>
  </body>
</html>
